<div class="page-title loading-text" *ngIf="load">{{language.loading}} <span>{{language.waitseconds}}</span>
</div>
<div class="card" *ngIf="load">
  <div class="card-header">
    <div class="cardh1"></div>
    <div class="cardh2"></div>
    <div class="cardh3"></div>
    <div class="cardh4"></div>
    <div class="cardh5"></div>
  </div>
  <div class="card-body">
   <div class="cardb1"></div>
  <div class="cardb1" style="left: auto;right:0"></div>
   <div class="cardb2"></div>
   <div class="cardb2" style="margin-top: 35px"></div>
   <div class="cardb2" style="margin-top: 70px"></div>
   <div class="cardb2" style="margin-top: 105px"></div>
   <div class="cardb2" style="margin-top: 125px"></div>
   <div class="cardb2" style="margin-top: 145px"></div>
  </div>
</div>